@import url('https://fonts.googleapis.com/css2?family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    max-width: 1200px;
    margin: 0 auto;
    font-family: "Epunda Slab", serif;    
}

nav{

    height: 60px;
    background-color: rgb(214, 50, 50);

}

nav a{

    height: 25px;
    width: 80px;
    background-color: rgb(139, 14, 14);
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    color: rgb(206, 192, 192);


}


nav ul{

    list-style-type: none;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 0;
    height: 60px;
}


.content{

    min-height:calc(100vh - 140px) ;
    display: flex;
}


main{

    background-color: rgb(233, 230, 207);
    padding: 20px;
    flex: 3;
}


main ul{

    list-style-type: disc;
    padding: 10px;

}


aside ul{

    padding: 10px;

}


aside{

    background-color: rgb(240, 158, 158);
    padding: 20px;
    flex: 1;
}



@media screen and (max-width: 600px) {

        .content{
        flex-direction: column;    
    }

    main{

        order: 2;
    }

    aside{

        order: 1;
    }
    
}